.flexCol--ListSummary{
    justify-content: space-between;
    height: 50%;
    margin-bottom: 40px;
}
.flexRowContent--widthLimit{
    width: 96%;
    margin: 0 auto;
}

@media (max-width:768px){
    .flexCol--ListSummary{
        justify-content: space-between;
        height: 100%;
        margin-bottom: 40px;
        width: 57%;
    }
}