.flexRow--HomeDeskContainer :global(.vtex-store-components-3-x-container){
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    max-width: unset;
    width: 100%;
}
.flexColChild--HomeDeskContent{
    display: flex;
    flex-direction: column;
}
.flexRow--Departamentos{
    margin: 20px 0px;
}
.flexRowContent--Departamentos, .flexRowContent--images{
    max-width: 1440px;
    margin: 0 auto;
}
.flexColChild--HomeDeskContent :global(.vtex-search-result-3-x-searchResultContainer){
    margin-top:10px;
    margin-bottom: 30px;
}
@media (max-width:768px){
    .flexRow--HomeMobiContainer :global(.vtex-store-components-3-x-container){
        padding: 0px;
    }
    .flexRowContent--DepartImageMobile{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .flexRowContent--DepartImageMobile :global(.vtex-rich-text-0-x-container--PromoImage){
        position: absolute;
    }
    .flexRow--PromoImage{
        width: fit-content !important;
    }
    .flexRowContent--PromoImage{
        width: fit-content !important;
    }
    .flexRow--DepartImageMobile :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
        width: fit-content !important;
        position: relative;
    }
}