.footerLayout{
    background-image: url(assets/Footer/img42.jpeg);
    padding: 40px 0px;
    background-size: contain;
}
.socialNetworkImage{
    display: none;
}

.socialNetworkLink--instagram::after{
    content: '';
    width: 44px;
    height: 46px;
    background-image: url(assets/Footer/img20.png);
    background-size: contain;
    display: block;
}

.socialNetworkLink--facebook::after{
    content: '';
    width: 26px;
    height: 46px;
    background-image: url(assets/Footer/img18.png);
    background-size: cover;
    display: block;
}

.socialNetworkLink{
    width: fit-content;
}

@media (max-width:768px){
    .footerLayout :global(.vtex-disclosure-layout-1-x-trigger){
        padding-left: 0px;
    }
    .footerLayout{
        background-size: cover;
    }
}