.trigger--Header-Mobile{
    background-color: transparent;
    width: 95%;
    margin: 0 auto;
}
.trigger--Header-Mobile--hidden{
    border-bottom: 1px solid black;
}
.trigger--Header-Mobile{
    position: relative;
}
.trigger--Header-Mobile::after {
    content: '';
    background-image: url(assets/header/down-arrow.png);
    width: 20px;
    height: 20px;
    background-size: cover;
    position: absolute;
    display: block;
    top: calc(50% - 10px);
    right: 0px;
    transition: all 0.5s;
}
.trigger--Header-Mobile--visible::after {
    transform: rotateX(180deg) !important;
}
.content--Header-Mobile--visible{
    width: 95%;
    margin: 0 auto;
}
.content--Header-Mobile--visible :global(.vtex-rich-text-0-x-container--SubMenu-Item ){
    border-bottom: 1px solid rgba(0, 0, 0, 0.315);
}

.trigger--Header-Mobile:first-child :global(.vtex-rich-text-0-x-container--MenuTitle-Mobile){
    color: #07147d;
}