.label{
    font-size: 0px;
}
.label::before{
    content: "";
    width: 35px;
    height: 41px;
    background-image: url(assets/header/img9.png);
    background-size: contain;
    display: block;
}
.buttonLink :global(.vtex-button__label){
    padding-left: 1rem;
    padding-right: 0.8rem;
}
.container :global(.vtex-button):hover{
    background-color: transparent;
}

@media (max-width:768px){
    .label{
        display: block;
        padding: 0px;
    }
    .buttonLink :global(.vtex-button__label){
        padding: 0 !important;
    }
    .label::before{
        width: 48px;
        height: 50px;
    }
    .buttonLink{
        height: 50px;
    }

}