@media (max-width: 860px)
{
    :global(.vtex-store-components-3-x-imageElement--imagem-landing-colecao-busca-personalizada-desktop){display:none;}
    :global(.vtex-product-summary-2-x-productPriceClass){    flex-direction: column!important;}
    :global(.vtex-rich-text-0-x-container--SubMenu-Item){    font-weight: 700;font-size: 15px!important;padding-left: 6px;}
    :global(.vtex-rich-text-0-x-paragraph--target){padding-left: 8px;}
    :global(.vtex-product-list-0-x-quantityDropdownMobileContainer){width: 105px;}
    :global(.vtex-store-components-3-x-installmentsPrice) {font-size: 12px;}
    :global(.vtex-search-result-3-x-accordionFilter){    z-index: 99999;}
    :global(.vtex-store-footer-2-x-footerLayout) {background-size: auto!important;}

    :global(.render-route-store-product)
    :global(.vtex-rich-text-0-x-paragraph--HomeTitle){    line-height: 30px;}

    :global(.render-route-store-product)
    :global(.vtex-rich-text-0-x-container--HomeTitle){    height: auto!important;    padding: 15px;
        font-size: 24px;}

}



@media (min-width: 861px)
{
    :global(.vtex-store-components-3-x-imageElement--imagem-landing-colecao-busca-personalizada-mobile){display:none;}
    :global(.vtex-flex-layout-0-x-flexColChild--headerContent){ margin-top: 7px;}
    :global(.vtex-flex-layout-0-x-flexCol--headerContent) {gap: 0px!important; }
    :global(.vtex-rich-text-0-x-container--HomeTitle){max-width: 1630px!important;width: 90%!important; background-repeat: no-repeat;}
    :global(.vtex-rich-text-0-x-wrapper--HomeTitle) {display: block; width: 1050px;margin: auto;}
    :global(.vtex-slider-layout-0-x-sliderLayoutContainer--carrousel-de-marcas-home-desk){ max-width: 1280px;margin: auto;}
    :global(.vtex-flex-layout-0-x-flexCol--NsBg){ background-position: center;background-repeat: no-repeat; background-color: #F6CC00;margin: auto;}
    :global(.vtex-flex-layout-0-x-flexCol--NsBg)
    :global(.vtex-flex-layout-0-x-flexColChild--NsBg){width: 1280px;margin:auto;}
    :global(.vtex-product-summary-2-x-imageNormal){    max-width: 255px;}
    :global(.vtex-search-result-3-x-gallery--grid)
    :global(.pa4){flex-basis: 25%!important; max-width: 25%!important;}
    :global(.vtex-breadcrumb-1-x-container){    margin-left: -10px;}
    :global(.vtex-product-summary-2-x-productPriceClass){    flex-direction: column!important;}
    :global(.vtex-flex-layout-0-x-flexRowContent--description-pdp){max-width: 1205px;margin: auto;}
}

:global(.vtex-minicart-2-x-minicartEmptyStateContainer)
:global(.vtex-rich-text-0-x-paragraph) {
   
    font-size:0px!important;
  }

:global(.vtex-minicart-2-x-minicartEmptyStateContainer)
:global(.vtex-rich-text-0-x-paragraph)::after {
    content: "Seu carrinho está vazio.";
    font-size:16px!important;
  }



:global(.vtex-minicart-2-x-drawer.vtex-minicart-2-x-opened){z-index: 999999999;}

:global(.MsoNormal) span {font-size: 14px!important;
    font-family: Noto Sans!important;
    font-weight: 400;}


    :global(.vtex-flex-layout-0-x-flexRow--description-pdp) 
    :global(.vtex-store-components-3-x-container) {
        margin-left: 20px;
        margin: auto!important;
        padding-left: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    :global(.render-route-vtex-store-2-x-store-custom-nossas-lojas)
    :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
        max-width: 1190px;
        margin: auto;

    }
